:root {
--main-color: #757575;
--secondary-color: #212121;
--white-color: #FFFFFF;
--accent-color: #2196F3;
--footer-background: #2F303A;
}
body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: var(--main-color)
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--accent-color);
}
.black-text.interactive.current {
    color: var(--accent-color);
}
ul{
    list-style: none;
}
.interactive:hover,
.interactive:focus {
  color: var(--accent-color);
  
}
.list {
     list-style: none;
     color: var(--secondary-color);
}
.black-text {
  color: var(--secondary-color1);
}
.e-mail {
  color: var(--accent-color);
}
.link-text {
  font-weight: bold;
  font-size: 18px;
  color: var(--secondary-color);
}
.hero {
  font-weight: 900;
  font-size: 44px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  background-size: width: 1600px;
    height: 600px;
}
/* .hero-order { */
    color: #FFFFFF;
}

.section-title {
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary-color);
}
.paragraph {
    font-size: 14px;
    line-height: 24px;
    color: var(--main-color);
}
h2 {
    color: var(--secondary-color);
}
/* .section-text {  */
    color: var(--white-color);
}
.footer {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.button {

}
.button-primary
{
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
.button-secondry {
    color: var(--white-color);
    background-color: var(--footer-background);
    font-weight: normal;
    font-size: 16px;
}
.button-nav {
    color: var(--secondary-color);
    background-color:  #F5F4FA;

}